[submodule "projects/ci-cd-2"]
	path = projects/ci-cd-2
	url = https://github.com/jainilgupta02/ci-cd-2.git
[submodule "projects/ci-cd-practice"]
	path = projects/ci-cd-practice
	url = https://github.com/jainilgupta02/ci-cd-practice.git
[submodule "projects/pd-np-API"]
	path = projects/pd-np-API
	url = https://github.com/jainilgupta02/pd-np-API.git
[submodule "projects/01-ci-cd-practice"]
	path = projects/01-ci-cd-practice
	url = https://github.com/jainilgupta02/ci-cd-practice.git
[submodule "projects/02-ci-cd-advanced"]
	path = projects/02-ci-cd-advanced
	url = https://github.com/jainilgupta02/ci-cd-2.git
[submodule "projects/03-python-api-devops"]
	path = projects/03-python-api-devops
	url = https://github.com/jainilgupta02/pd-np-API.git
[submodule "projects/04-docker-microservices"]
	path = projects/04-docker-microservices
	url = https://github.com/jainilgupta02/docker-microservices-devops.git
[submodule "projects/05-kubernetes-deployment"]
	path = projects/05-kubernetes-deployment
	url = https://github.com/jainilgupta02/kubernetes-deployment-devops.git
[submodule "projects/06-terraform-aws"]
	path = projects/06-terraform-aws
	url = https://github.com/jainilgupta02/terraform-aws-devops.git
[submodule "projects/07-ansible-config"]
	path = projects/07-ansible-config
	url = https://github.com/jainilgupta02/ansible-config-devops.git
[submodule "projects/08-monitoring-stack"]
	path = projects/08-monitoring-stack
	url = https://github.com/jainilgupta02/monitoring-stack-devops.git
[submodule "projects/09-capstone-project"]
	path = projects/09-capstone-project
	url = https://github.com/jainilgupta02/devops-capstone-project.git
