# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# VS Code
.vscode/

# Docker
docker-compose.override.yml

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Kubernetes
.kube/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.swp

# Git
.gitmodules